<%= form_with(model: reserva_ec, local: true) do |form| %>
  <% if reserva_ec.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reserva_ec.errors.count, "error") %> prohibited this reserva_ec from being saved:</h2>

      <ul>
      <% reserva_ec.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
