<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-expand-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-nav navbar-logo mx-auto" href="#">Happy Booking</a>
  
</nav>