<%= render 'home/new_reserv_form' %>
<br>
    <div class="row">

            <div class="col-8 justify-content-start">
                <h2>Mis Reservas</h2>
            </div>
            <div class="col-4 justify-content-end">
                
            </div>
    </div>
    <div>
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Edificio</th>
                    <th>Area Comun</th>
                    <th>Dia</th>
                    <th>Hora</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Samanes</td>
                    <td>Piscina B1</td>
                    <td>03-04-2018</td>
                    <td>De 1:30pm a 3:30pm</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Samanes</td>
                    <td>Piscina B1</td>
                    <td>03-04-2018</td>
                    <td>De 1:30pm a 3:30pm</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Samanes</td>
                    <td>Piscina B1</td>
                    <td>03-04-2018</td>
                    <td>De 1:30pm a 3:30pm</td>
                </tr>

            </tbody>
        </table>
    </div>